$couleur-titre: #9A6FA6;
$couleur-txt-base: #302c2d;
$couleur-fond: #FFF3FF;
$couleur-fond-marque: #888275;
$couleur-menu: #C7B7CD;
$couleur-infolettre: #4E4351;
$blanc: #fff;
$police-titre: 'Montserrat Alternates', sans-serif;
$police-txt: 'Raleway', sans-serif;
$police-citations: 'Kalam', cursive;